In [1]:
import pandas as pd
import numpy as np
import matplotlib as mtplt
import seaborn as sb

In [2]:
ls

1.ipynb                gender_submission.csv  train.csv
Untitled.ipynb         test.csv

In [43]:
train_data = pd.read_csv('train.csv')

In [44]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [45]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [46]:
## This appears to be passanger data
### - Here Qualitative data appears to be - Name, Sex, Ticket, Cabin, Embarked and PassengerID(as it provides ID) 
###   along with Pclass(as it is ordinal data used to classify the passangers).
### - And Age, SibSp, Parch, and Fare appear to be Quantitative data.

In [47]:
### Let us determine which data will affect the survival of a passenger.
#### - looking at the data factors that influence survival are:
##### 1. Sex
##### 2. Pclass (Class of the passenger)
##### 3. Age
##### 4. Fare
##### 5. SibSp and Parch [Based on GPT suggestion] - try in another run

In [48]:
data = train_data.drop(columns=['Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked']).set_index('PassengerId')

In [49]:
data

             Survived  Pclass     Sex   Age     Fare
PassengerId
1                   0       3    male  22.0   7.2500
2                   1       1  female  38.0  71.2833
3                   1       3  female  26.0   7.9250
4                   1       1  female  35.0  53.1000
5                   0       3    male  35.0   8.0500
...               ...     ...     ...   ...      ...
887                 0       2    male  27.0  13.0000
888                 1       1  female  19.0  30.0000
889                 0       3  female   NaN  23.4500
890                 1       1    male  26.0  30.0000
891                 0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   Fare      891 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 41.8+ KB

In [51]:
data['Age'].fillna(data['Age'].median(), inplace=True)

In [52]:
data['Sex'].replace({'male':0, 'female':1}, inplace=True)

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   Fare      891 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 41.8 KB

In [56]:
train_X = data[['Pclass','Sex','Age','Fare']]

In [58]:
train_Y = data['Survived']

In [ ]:
###lets try different models

In [29]:
#Logistic Regression

In [95]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [61]:
model_LR = LogisticRegression()

In [62]:
model_LR.fit(train_X, train_Y)

LogisticRegression()

In [63]:
test = pd.read_csv('test.csv')

In [68]:
test = test.set_index('PassengerId').drop(columns=['Name','SibSp','Parch','Ticket','Cabin','Embarked'])

In [69]:
test

             Pclass     Sex   Age      Fare
PassengerId
892               3    male  34.5    7.8292
893               3  female  47.0    7.0000
894               2    male  62.0    9.6875
895               3    male  27.0    8.6625
896               3  female  22.0   12.2875
...             ...     ...   ...       ...
1305              3    male   NaN    8.0500
1306              1  female  39.0  108.9000
1307              3    male  38.5    7.2500
1308              3    male   NaN    8.0500
1309              3    male   NaN   22.3583

[418 rows x 4 columns]

In [71]:
test['Sex'].replace({'male':0,'female':1}, inplace=True)

In [75]:
test['Age'].fillna(test['Age'].median(), inplace=True)
test['Fare'].fillna(test['Fare'].median(),inplace=True)

In [76]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 418 entries, 892 to 1309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   Fare    418 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 16.3 KB

In [78]:
predict = model_LR.predict(test)

In [79]:
predict

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [104]:
gender = pd.read_csv('gender_submission.csv')

In [105]:
gender

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [102]:
accuracy = accuracy_score(gender['Survived'], predict)
accuracy

0.9425837320574163

In [107]:
df = pd.DataFrame(predict, columns=['Survival'])

In [113]:

value = (df['Survival'] == gender['Survived'])

In [114]:
value

0      True
1      True
2      True
3      True
4      True
       ...
413    True
414    True
415    True
416    True
417    True
Length: 418, dtype: bool

In [ ]:
sjd